name: Build APK Reza SUKSES

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - run: flutter pub get
      
      # PERHATIKAN: Saya sudah hapus tulisan --no-sound-null-safety di sini
      - run: flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: APK-REZA-SIAP-KUMPUL
          path: build/app/outputs/flutter-apk/app-release.apk
