name: Build APK Reza Final
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      - run: flutter build apk --release --no-sound-null-safety
      
      # INI YANG TADI ERROR (Sudah diganti jadi v4)
      - uses: actions/upload-artifact@v4
        with:
          name: APK-REZA-JADI
          path: build/app/outputs/flutter-apk/app-release.apk
